<div >
    <div>
        <b>Skills</b>
    </div>

    <div class="skills_images">
        <img src="/Portfolio/assets/images/java.png" alt="java">
        <img src="/Portfolio/assets/images/SpringBoot.png" alt="SpringBoot">
        <img src="/Portfolio/assets/images/angular.png" alt="angular">        
        <img src="/Portfolio/assets/images/html.png" alt="HTML">
        <img src="/Portfolio/assets/images/css.png" alt="css">
        <img src="/Portfolio/assets/images/sql.png" alt="SQL">
        <img src="/Portfolio/assets/images/Git.png" alt="Git">
    </div>

    <div>
        <b>IDEs & Tools:</b>
        <p>VScode , SpringToolSuite , DBeaver , Postman , GitHub</p>
    </div>
</div>