<div class="container">
    <main class="main-content">
        <div class="info-section">
            <button class="me-tag">It's me</button>
            <h1>Badrinath <br /> Poshetti</h1>

            <div class="text-wrapper">
                <div class="text developer">Java Developer</div>
                <div class="text tester">Tech Enthusiast</div>
            </div>

            <p>>> Email : poshettibadrinath2@gmail.com</p>
            <p>>> Mobile No : +91 9966131456</p>
            <p>>>City : Siddipet,Telangana,India </p>


            <div class="social-icons">
                <a
                    href="https://www.linkedin.com/in/badrinath-poshetti-a8a4b026b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><img
                        src="/Portfolio/assets/images/linkedin.png" alt="LinkedIn" /></a>
                <a href="https://github.com/Badrinath67/Portfolio.git"><img src="/Portfolio/assets/images/gitlab.png"
                        alt="GitHub" /></a>
            </div>
            <div>
                <button class="resume-btn" (click)="downloadResume()">Resume</button>
            </div>
        </div>

        <div class="image-section">
            <img src="/Portfolio/assets/images/image_4.jpg" alt="My_pic" />
        </div>
    </main>
</div>